.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.nav_black{
    background-color: #111;
}

.logo{
    left: 20px;
    width: 80px;
    position: fixed;
}

.avatar{
    right: 20px;
    width: 30px;
    position: fixed;
}